<div class="jumbotron" text-align="text-center">
  <h1>Learn a new word</h1>
</div>
  <h2>Click to view a definition!<h2>
    <!-- <ul> -->
      <h3><a href="'/output">cajole</a></h3>
      <h3><a href="'/output">digress</a></h3>
      <h3><a href="'/output">emulate</a></h3>
      <h3><a href="'/output">hiatus</a></h3>
      <h3><a href="'/output">affable</a></h3>
    <br>

  <h2>Add your own word and definition to the list!<h2>
  <form action="/" method="post">
    <div class="form-group">
       <h2>Add word</h2>
       <input name="word" class="form-control" type="text" placeholder= "word"><br>
       <h2>Add definition</h2>
       <input name="definition" class="form-control" type="text" placeholder= "definition"><br>
       <button type="submit" class="btn btn-primary">Save</button>
     </div>

    <div id = "output">
      <h2>Here are your words: </h2>

      <% @word.each do |word| %>
      <h3><a href="/output/<%=word.word %>"><%= word.word %></a></h3>
      <% end %>

    </div>
  </form>
