<h2>Term: <%= @word.word %></h2>
<h2>Definition: <%= @word.definition %></h2>
<br>
<h2>Add another definition to the list!<h2>
<form action="/" method="post">
  <div class="form-group">
   <h3>Add definition</h3>
    <input name="definition" class="form-control" type="text" placeholder= "definition">
    <br>
    <button type="submit" name="save" class="btn btn-primary">save</button>
    <br>
<h3><a href="/">return to home page</a><h3>
